<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.cadecode.mysql.mapper.LockInfoMapper">
    <select id="getLockInfoForUpdate" resultType="top.cadecode.mysql.domain.LockInfo">
        SELECT *
        FROM lock_info
        WHERE name = #{name} FOR
        UPDATE
    </select>
    <select id="getLockInfoForUpdateNoWait" resultType="top.cadecode.mysql.domain.LockInfo">
        SELECT *
        FROM lock_info
        WHERE name = #{name} FOR
        UPDATE NOWAIT
    </select>
    <select id="getLockInfo" resultType="top.cadecode.mysql.domain.LockInfo">
        SELECT *
        FROM lock_info
        WHERE name = #{name}
    </select>
    <insert id="addLockInfo">
        INSERT INTO lock_info(name, ip, thread_id, count)
        VALUES (#{name}, #{ip}, #{threadId}, #{count})
    </insert>
    <delete id="deleteLockInfo">
        DELETE
        FROM lock_info
        WHERE name = #{name}
    </delete>
    <update id="updateLockInfo">
        UPDATE lock_info
        SET ip        = #{ip},
            thread_id = #{threadId},
            count     = #{count}
        WHERE name = #{name}
    </update>
</mapper>
